/** container header **/
.headRow
{
    background-color: #393f4d
}

/** container body **/
.divBodyColor
{
    background-color: #f6f5f3
}

.navBarContainer
{
    background-color: #f6f5f3;
}

/** index.html **/

.list-item-navbar {
    color: #777777 !important;
}

.border-under-nav {
    border-top: 2px solid ;
}

.h3-header {
    color: #f4f8f8
}

/* Sticky Footer Classes */
.footer-all {
    border-top: 4px solid #9e363a;
    background-color: #393f4d;
}

html,
body {
    height: 100%;
}

.page-content {
    flex: 1 0 auto;

}

#sticky-footer {
    flex-shrink: none;
}



.background-image {
    background-image: url("../assets/images/ocean.jpg");

}

.row-bottom {
    background-image: url("../assets/images/united-squares-negative/united-squares-negative.png");
}

.border-textbody {
    border: 2px solid black;
}

/* Contact page */

.btn-primary {
    background-color: #4aaaa5;
}

.btn-primary:hover {
    background-color: #80e6e0;
    color: black;
}

/** portfolio.html **/
.img-portfolio {
    max-height: 250px;
    width: 100%;
}

.porfolio-icon {
    position: relative
}

.icon-text {
    position: absolute;
    bottom: 15px;
    width: 100%;
    color: white;
    background-color: #4aaaa5;
    padding: 10px 0px 10px 40px;
}

.icon-text:hover {
    background-color: #80e6e0;
    color: black;
}

.card {
    border: 0px;
}

/** portfolio.html updated **/
.portfolio-caption
{
    position: absolute;
    bottom: 5%;
    font-family: Georgia, Times, serif;
    background-color: rgba(17, 27, 70, .9);
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 4.5rem;
}
.portfolio-img
{
    max-width: 100%;
    text-align: center;
    border-radius: 5%;
}
.portfolio-link
{
    position: relative;
    display: inline-block;
    border: 3px solid #666666;
    border-radius: 6%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.portfolio-link:hover
{
    box-shadow: 0 0 0 .5rem #1e1e8a;
}